@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-image: url(../public/images/bb.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
